@layout("/common/_curd/_container.html"){

	<form data-url="${basePath}/${code}/update" method="post" class="form-horizontal" role="form">
		<!-- 表单 -->
		@ var _table="activation_code";
		@ var _key="id";
		@ var _col=[
		@			  {name:"激活码", index:"activation_code", type:"text",newline:true,length:8,required:"required"},
		@			  {name:"成功激活的设备数", index:"activation_device_numbers", type:"text",newline:true,length:8,required:"required"},
		@			  {name:"下载状态: 0未下载 1已经下载", index:"down_load_status", type:"text",newline:true,length:8,required:"required"},
		@			  {name:"相关描述", index:"descs", type:"text",newline:true,length:8,required:"required"}
		@		   ];
		@ include("/common/_curd/_edit.html", {"col":_col, "table":_table, "key":_key}){}
		
		<!-- 按钮 -->
		@ include("/common/_curd/_btn.html", {btn_save:"修改", btn_close:"关闭"}) {}
	</form>

@}