@layout("/common/_curd/_container.html"){

	<form class="form-horizontal" role="form">
		<!-- 表单 -->
		@ var _col=[
			
@			  {name:"业务编号", index:"id", type:"text",newline:true,length:8},
		@			  {name:"激活码", index:"activation_code", type:"text",newline:true,length:8},
		@			  {name:"设备表关联id(关联设备表中的dev_related_id)", index:"dev_related_id", type:"text",newline:true,length:8},
		@			  {name:"批次号", index:"batch_number", type:"text",newline:true,length:8},
		@			  {name:"成功激活的设备数", index:"activation_device_numbers", type:"text",newline:true,length:8},
		@			  {name:"下载状态: 0未下载 1已经下载", index:"down_load_status", type:"text",newline:true,length:8},
		@			  {name:"逻辑删除状态，0为启用，1为删除", index:"del_status", type:"text",newline:true,length:8},
		@			  {name:"创建时间", index:"create_time", type:"text",newline:true,length:8},
		@			  {name:"修改时间", index:"update_time", type:"text",newline:true,length:8},
		@			  {name:"", index:"descs", type:"text",newline:true,length:8},
		@			  {name:"", index:"version", type:"text",newline:true,length:8}		
		@		   ];
		@ include("/common/_curd/_view.html", {"col":_col}){}
		
		<!-- 按钮 -->
		@ include("/common/_curd/_btn.html", {btn_close:"关闭"}) {}
	</form>

@}
