@layout("/common/_curd/_container.html"){

<script type="text/javascript">
	var ctx = "${basePath}";
	var grid_selector = "#grid-table";
	var pager_selector = "#grid-pager";
	
	$(function(){
		initGrid();
		initMenuBtn("btns", "${code}");
	});
	
	function initGrid(){
		var grid_url = ctx + "/${code}/list";
		var _colnames = ["业务编号", 
						"版本号", 
						"版本描述", 
						"逻辑删除状态，0为启用，1为删除", 
						"创建时间", 
						"修改时间", 
						""];
		var _colmodel = [{name:"id", index:"id", width:100},
						{name:"version_code", index:"version_code", width:100},
						{name:"descs", index:"descs", width:100},
						{name:"del_status", index:"del_status", width:100},
						{name:"create_time", index:"create_time", width:100},
						{name:"update_time", index:"update_time", width:100},
						{name:"version", index:"version", width:100}];
		
		jQuery(grid_selector).jqGrid({
			url : grid_url,
		    shrinkToFit : true,
			colNames : _colnames,
			colModel : _colmodel, 
			jsonReader : {id :"id"},
			pager : pager_selector,
			postData : {sort : "id", order : "desc"}
		});
	}
</script>


	<!-- 配置 grid -->
	<div class="row">
		<div class="col-xs-12 tb-grid">
			<!-- 配置 查询 -->
			@ var _col=[
@		{name:"业务编号", index:"id", type:"text"},
			@		{name:"版本号", index:"version_code", type:"text"},
			@		{name:"版本描述", index:"descs", type:"text"},
			@		{name:"逻辑删除状态，0为启用，1为删除", index:"del_status", type:"text"},
			@		{name:"创建时间", index:"create_time", type:"text"},
			@		{name:"修改时间", index:"update_time", type:"text"},
			@		{name:"", index:"version", type:"text"}							
			@];
			@ include("/common/_function/_search.html",{"col":_col}){}
			<!-- 按钮 -->
			<div class="welljq well-sm" id="btns"></div>
			<!-- grid -->
			<table id="grid-table"></table>
			<!-- 分页-->
			<div id="grid-pager"></div>
		</div>
	</div>
	
	<!-- 引入所需的js -->
	@include("/common/_listscript.html"){}
	
@}	